    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
         <!-- Copyright -->
    <div class="p-3 col-md-6">
        © 2020 Copyright:
        <a class="text-dark" href="https://github.com/AsmaTrabelsi">RecipeBook.com</a>
      </div>
      <!-- Copyright -->
      <!-- Section: Social media -->
      <div class="text-center col-md-6">
         <!-- Facebook -->
         <a
         class=" btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-facebook-f"></i
       ></a>
 
       <!-- Twitter -->
       <a
         class="btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-twitter"></i
       ></a>
 
       <!-- Google -->
       <a
         class=" btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-google"></i
       ></a>
 
       <!-- Instagram -->
       <a
         class=" btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-instagram"></i
       ></a>
 
       <!-- Linkedin -->
       <a
         class=" btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-linkedin"></i
       ></a>
       <!-- Github -->
       <a
         class=" btn-link btn-floating btn-lg text-dark"
         href="#"
         role="button"
         data-mdb-ripple-color="dark"
         ><i class="fab fa-github"></i
       ></a>
   
          </div>
      <!-- Section: Social media -->
  
   
  </footer>